*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
}

.container{
    width: 1120px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.left-part{
    width: 50%;
    background-color: #1C1938;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-part{
    background-color: rgba(170, 92, 219, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-part img{
    width: max-content;
    height: 450px;
    mix-blend-mode: multiply;
}