@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
}

.container{
    max-width: 1120px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.left-part{
    width: 50%;
    background-color: #1C1938;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 4.5rem;
}

.right-part{
    /* width: 450px; */
    background: #a25ed0;
    /* background-color: rgba(211, 139, 255, 1); */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* backdrop-filter: blur(100px); */
    /* filter: blur(0.9px); */
    /* filter:opacity(3px); */
    /* -webkit-filter: blur(1px); */
    overflow: hidden;
}

.right-part img{
    width: max-content;
    height: 450px;
    /* width: 550px; */
    mix-blend-mode: multiply ;
}

.left-part h1{
    font-size: 2.2rem;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1.8rem;
    letter-spacing: .2px;

}

span{
    color: hsl(277, 64%, 61%);
}

.left-part p{
    color: hsla(0, 0%, 100%, 0.75);
    /* font-size: 0.9rem; */
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
}

.left-part-word-container p{
    line-height: 1.5rem;
    margin-bottom: 4.3rem;
    font-size: 1rem !important;
}

.left-part-number-section{
    display: flex;
    /* flex-direction: row; */
}

.number h2{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;

}

.number p{
    text-transform: uppercase;
    font-size: 0.8rem;
}

.number:not(:last-child){
    margin-right: 4rem;
}

.number h2{
    margin-bottom: 0.4rem;
}

@media (max-width: 1160px) {
    /* *{display: none;} */
    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 450px;
        height: 1120px;
        margin: 25px;
    }

    .right-part{
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        height: 450px;
    }

    .left-part{
        min-width: 450px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
        padding: 3.5rem;
        text-align: center;
    }

    .left-part-number-section{
        flex-direction: column;
        align-items: center;
    }

    .number:not(:last-child){
        margin-right: 0;
        margin-bottom: 2rem;
    }


}

@media (max-width: 530px) {
    /* *{display: none;} */
    .container{
        width: 400px;
    }

    .left-part{
        min-width: 400px;
    }
}

@media (max-width: 460px) {
    .container{
        width: 360px;
    }

    .left-part{
        min-width: 360px;
    }
}

@media (max-width: 400px) {
    .container{
        width: 300px;
    }

    .left-part{
        min-width: 300px;
    }
}

@media (max-width: 340px) {
    .container{
        width: 260px;
    }

    .left-part{
        min-width: 260px;
    }
}